{% extends 'newsletter_app/base.html' %}

{% block content %}

<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Информация о рассылке
                    </h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>Периодичность</td>
                            <td>{{ object.periodicity }}</td>
                        </tr>
                        <tr>
                            <td>Статус</td>
                            <td>{{ object.status }}</td>
                        </tr>
                        <tr>
                            <td>Время создания</td>
                            <td>{{ object.time }}</td>
                        </tr>
                    </table>

                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}